* {

    --color-1: #FEE8D5;
    --color-2: #3F7929;
    --color-3: #806342;
    --color-4: #1A3815;
    --color-5: #283618;
    --color-6: #6b705c;
}

body {
    background-color: var(--color-1);
    text-align: center;
}

.header-img {
    width: 100%;
    height: 400px;
    background: url('../assets/LEIRBA-header-img (1).png');
    background-size: cover;
  }

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-size: 2rem;
    color:var(--color-1);
}

#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 3px solid var(--color-2);
    background-color: var(--color-4);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 70px;
    padding: 10px;
}

.product-card img {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

p {
    color:var(--color-1);
    margin: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-3);
    color: white;
    font-family: 'Lucida Sans';
}

