* {

    --color-1: #ffe8d6;
    --color-2: #cb997e;
    --color-3: #ddbea9;
    --color-4: #b7b7a4;
    --color-5: #a5a58d;
    --color-6: #6b705c;
}

body {
    background-color: var(--color-1);
    text-align: center;
}


#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}